*.suo
*.vs
*/bin/*
*/obj/*
*/.vs/*
*.user
.sass-cache/
*.css.map
*.log
*.sqlite
*.backup.*
*/node_modules/*


# OS Files
.DS_Store?
ehthumbs.db
Icon?
Thumbs.db
[Bb]in
[Oo]bj
[Tt]est[Rr]esults
*.suo
*.user
*.[Cc]ache
*[Rr]esharper*
packages
NuGet.exe
_[Ss]cripts
*.nupkg
*.ncrunchsolution
*.dot[Cc]over
PSD/
_Publish/
*.js.map
Gamefound.Web.MainApplication/Scripts/dist/*
Gamefound.Web.MainApplication/webpack.output.json
Gamefound.Web.MainApplication/App_Data/
Gamefound.Web.MainApplication/Content/Images/
Gamefound.Web.MainApplication/Content/Styles/*.css
Gamefound.Web.MainApplication/Content/Styles/Legacy/Script.css
Gamefound.Web.MainApplication/Content/Styles/Legacy/Editing.css
Gamefound.Web.MainApplication/Content/Styles/Lib/quill.snow.custom.css
Gamefound.UITests/Assets/CommentsFiles/LargeFile.pdf
!Gamefound.Web.MainApplication/Assets/Icons/*
Gamefound.Web.MainApplication/.vscode/iisexpress.json
.idea/

Gamefound.Web.MainApplication/App_Client/eslint-plugin-gamefound/node_modules/
